@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #7573B6;
    --font-color: #FFF;
    --svg-filter: invert(61%) sepia(6%) saturate(4137%) hue-rotate(202deg) brightness(76%) contrast(83%);
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-color);
}

.wrapper {
    width: 605px;
    background-color: var(--font-color);
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: var(--svg-filter)
}

.icon > * {
    color: var(--main-color);
    width: 35px;
    height: 28px;
}

.quote-area .icon {
    font-size: 15px;
}

.quote-area .icon:first-child {
    margin: 3px 10px 0 0;
}

.quote-area .icon:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    word-spacing: normal;
}

.content .author {
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid #CCC;
}

.buttons .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul {
    display: flex;
}

.features ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    border: 2px solid;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    transition: all .3s ease;
}

.features ul li:hover {
    color: var(--font-color);
    background-color: var(--main-color);
}

li:hover .icon-btn {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(351deg) brightness(101%) contrast(101%);
}

.features button {
    border: none;
    outline: none;
    padding: 13px 22px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: var(--font-color);
    cursor: pointer;
    font-size: 16px;
}

.features:hover button {
    opacity: .9;
}

.loading {
    opacity: 0.6;
    pointer-events: none;
}